/* * {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
} */

body{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.ui-widget {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.1em;
}
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1em;
}
.ui-tabs-anchor{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* set all the widgets header in dark blue */
.ui-widget-header{ 
	border: 1px solid #2C3E50; 
	background: #2C3E50;
}
.ui-accordion .ui-accordion-content{
	padding: 5px;
}
.ui-tabs .ui-tabs-panel {
    display: block;
    padding: 2px; 
}
.ui-widget-header[role="tablist"] {
    border: 1px solid #BDBDBD;
    background: #BDBDBD;
}

.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
    color: #467fc9;
    text-decoration: none;
}
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
    color: #212121; 
    text-decoration: none;
    border-bottom: 3px solid #212121;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    color:#2C3E50;
    border: none;
    background: transparent;
    font-weight: bold;
}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
    float: left;
    padding: .5em 1em;
    padding-bottom: 2px;
    text-decoration: none;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: none;
    background: transparent;
    font-weight: bold;
}
.ui-accordion-header{
    background: #f6f6f6 url("../../giapi/jquery/images/ui-bg_glass_100_f6f6f6_1x400.png") 50% 50% repeat-x !important;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    border-radius: 0px; 
}
.ui-dialog .ui-dialog-content {
    background: rgba(192, 192, 192, 0.4);
}
/*--------------------------------- */ 
/* glass pane                       */ 
.glass-pane {
    opacity: .5;
    z-index: 99;
}
.glass-pane-background {
	background: #666 url("../img/ui-bg_diagonals-thick_20_666666_40x40.png") 50% 50% repeat;
}
/*--------------------------------- */ 
/* toggle button                   */ 
.toggle-button{
	text-align: left;
	cursor: pointer;
    padding: 2px;
/*    border-radius: 3px; */
    display: inline-block;
/* 	box-shadow: 3px 3px 2px 0 rgba(0,0,0,0.3); */
}
.toggle-button-disabled{
	text-align: left;
	color: #999999;
    background: #ddd;
	cursor: default;
	box-shadow: none;
    padding: 5px;
/*    border-radius: 3px; */
    width: 135px;
    display: inline-block;
    margin-bottom: 10px;
}
.toggle-button-off{
	color: white;
	background: #467FC9;
}
.toggle-button-on{
    color: black;
    background: #79bbff;    
}
.toggle-button-icon{
	margin-right: 5px; 
	font-size: 1.4em;
    vertical-align: sub;	
}
.toggle-button-icon-label{
	cursor: pointer;
	margin-top: 4px;
}
.toggle-button-icon-label-disabled{
	color: #999999;
	cursor: default;
	position: absolute; 
	margin-top: 4px;
}
/* ------------------------------ */
/* FontAwesomeButton              */
.font-awesome-button{
	text-align: left;
	cursor: pointer;
    padding: 5px;
/*    border-radius: 3px; */
    display: inline-block;
	color: white;
	background: #2C3E50;
}
.font-awesome-button[disabled]:hover{
	box-shadow: none;
}
.font-awesome-button:hover{
	box-shadow: 0px 0px 6px 4px rgba(0,0,0,0.3);
}

#containsButton.font-awesome-button:hover{
	box-shadow: none;
}

#overlapsButton.font-awesome-button:hover{
	box-shadow: none;
}
.font-awesome-button-label{
	cursor: pointer;
	vertical-align: middle;
}
.font-awesome-button-icon{
	margin-left: 5px; 
	margin-right: 5px; 
	font-size: 1.0em;
}
/* ------------------------------------------------------------------------ */
/* small on/off switch button generated by https://proto.io/freebies/onoff/ */
.small-onoffswitch {
    position: relative; width: 54px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.small-onoffswitch-checkbox {
    display: none;
}
.small-onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 15px;
}
.small-onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.small-onoffswitch-inner:before, .small-onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 17px; padding: 0; line-height: 17px;
    font-size: 10px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.small-onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #000000; color: #FFFFFF;
    text-align: left;
}
.small-onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.small-onoffswitch-switch {
    display: block; width: 9px; margin: 4px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 33px;
    border: 2px solid #999999; border-radius: 15px;
    transition: all 0.3s ease-in 0s; 
}
.small-onoffswitch-checkbox:checked + .small-onoffswitch-label .small-onoffswitch-inner {
    margin-left: 0;
}
.small-onoffswitch-checkbox:checked + .small-onoffswitch-label .small-onoffswitch-switch {
    right: 0px; 
}

/* ------------------------------------------------------------------------ */
/* medium on/off switch button generated by https://proto.io/freebies/onoff/ */
.medium-onoffswitch {
    position: relative; width: 96px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.medium-onoffswitch-checkbox {
    display: none;
}
.medium-onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.medium-onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.medium-onoffswitch-inner:before, .medium-onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 21px; padding: 0; line-height: 21px;
    font-size: 11px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.medium-onoffswitch-inner:before {
    content: "CONTAINS";
    padding-left: 10px;
    background-color: #34A7C1; color: #FFFFFF;
    text-align: left;
}
.medium-onoffswitch-inner:after {
    content: "OVERLAPS";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.medium-onoffswitch-switch {
    display: block; width: 11px; margin: 5px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 71px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.medium-onoffswitch-checkbox:checked + .medium-onoffswitch-label .medium-onoffswitch-inner {
    margin-left: 0;
}
.medium-onoffswitch-checkbox:checked + .medium-onoffswitch-label .medium-onoffswitch-switch {
    right: 0px; 
}

/* ------------------------------------------------------------------------ */
/* large on/off switch button generated by https://proto.io/freebies/onoff/ */
.large-onoffswitch {
    position: relative; width: 120px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.large-onoffswitch-checkbox {
    display: none;
}
.large-onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.large-onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.large-onoffswitch-inner:before, .large-onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 21px; padding: 0; line-height: 21px;
    font-size: 11px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.large-onoffswitch-inner:before {
    content: "CONTAINS";
    padding-left: 10px;
    background-color: #34A7C1; color: #FFFFFF;
    text-align: left;
}
.large-onoffswitch-inner:after {
    content: "OVERLAPS";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.large-onoffswitch-switch {
    display: block; width: 11px; margin: 5px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 95px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.large-onoffswitch-checkbox:checked + .large-onoffswitch-label .large-onoffswitch-inner {
    margin-left: 0;
}
.large-onoffswitch-checkbox:checked + .large-onoffswitch-label .large-onoffswitch-switch {
    right: 0px; 
}




/* ----------------------------------------------------------------------------- */
/* Nice button from http://www.cssbutton.me/calebogden/4fd7c9f23f2df02715000000 */

.calebogden-button { 
/* 	display: inline-block;  */
/* 	margin: 0;  */
}
.calebogden-button li,
.calebogden-button li a,
.calebogden-button li span {
	display: block;
	float: left;
}

.calebogden-button li {
	margin-bottom: 5px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	box-shadow: 1px 7px 2px 0 rgba(0,0,0,0.3);
	cursor: pointer;
	margin-left: 10px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}

.calebogden-button li:first-child {
	margin-left: 10px;
}

.calebogden-button li a {
	border-left-width: 0;
	-moz-border-radius: 0 4px 4px 0;
	-webkit-border-radius: 0 4px 4px 0;
	border-radius: 0 4px 4px 0;
	font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
	font-weight: 500;
	text-shadow: 0 1px 0 #FFF;
	padding: 5px 15px;
	background: #e7e7f9;
	background: -moz-linear-gradient(top, #f7f7f7 0%, #e7e7f9 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#e7e7f9));
	-moz-box-shadow: 0 -1px 0 0 rgba(255,255,255,0.5) inset, 0 5px 0 0 #c4c5d5, 0 1px 0 0 #FFF inset;
	-webkit-box-shadow: 0 -1px 0 0 rgba(255,255,255,0.5) inset, 0 5px 0 0 #c4c5d5, 0 1px 0 0 #FFF inset;
	box-shadow: 0 -1px 0 0 rgba(255,255,255,0.5) inset, 0 5px 0 0 #c4c5d5, 0 1px 0 0 #FFF inset;
	border-bottom-width: 0;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}

.calebogden-button li span {
	-moz-border-radius: 4px 0 0 4px;
	-webkit-border-radius: 4px 0 0 4px;
	border-radius: 4px 0 0 4px;
	-moz-box-shadow: 0 -1px 0 0 rgba(255,255,255,0.2) inset, 0 5px 0 0 #447700;
	-webkit-box-shadow: 0 -1px 0 0 rgba(255,255,255,0.2) inset, 0 5px 0 0 #447700;
	box-shadow: 0 -1px 0 0 rgba(255,255,255,0.2) inset, 0 5px 0 0 #447700;
	background: #f7f7f7;
	background: -moz-linear-gradient(top, #98c100 0%, #659506 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#98c100), color-stop(100%,#659506));
	text-shadow: 0 1px 0 rgba(0,0,0,0.3);
	color: #FFF;
	font-weight: bold;
	padding: 5px 5px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}

.calebogden-button li span.red {
	background: #ee706b;
	background: -moz-linear-gradient(top, #ee706b 0%, #9c3107 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ee706b), color-stop(100%,#9c3107));
	text-shadow: 0 1px 0 rgba(0,0,0,0.3);
	box-shadow: 0 -1px 0 0 rgba(255,255,255,0.2) inset, 0 5px 0 0 #722300;
	-moz-box-shadow: 0 -1px 0 0 rgba(255,255,255,0.2) inset, 0 5px 0 0 #722300;
	-webkit-box-shadow: 0 -1px 0 0 rgba(255,255,255,0.2) inset, 0 5px 0 0 #722300;	
}

.calebogden-button li span.yellow {
	background: -moz-linear-gradient(top, #ffd800 0%, #ffb400 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffd800), color-stop(100%,#ffb400));
	box-shadow: 0 -1px 0 0 rgba(255,255,255,0.2) inset, 0 5px 0 0 #c79700;
	-moz-box-shadow: 0 -1px 0 0 rgba(255,255,255,0.2) inset, 0 5px 0 0 #c79700;
	-webkit-box-shadow: 0 -1px 0 0 rgba(255,255,255,0.2) inset, 0 5px 0 0 #c79700;
}

.calebogden-button li span.blue {
	background: -moz-linear-gradient(top, #03A9F4 0%, #3F51B5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#03A9F4), color-stop(100%,#3F51B5));
	box-shadow: 0 -1px 0 0 rgba(255,255,255,0.2) inset, 0 5px 0 0 #3F51B5;
	-moz-box-shadow: 0 -1px 0 0 rgba(255,255,255,0.2) inset, 0 5px 0 0 #3F51B5;
	-webkit-box-shadow: 0 -1px 0 0 rgba(255,255,255,0.2) inset, 0 5px 0 0 #3F51B5;
}

.calebogden-button li:hover a {
	background: -moz-linear-gradient(top, #FFFFFF 0%, #e7e7f9 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#e7e7f9));
}
.calebogden-button li:hover span.green {
	background: -moz-linear-gradient(top, #abcc00 0%, #659506 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#abcc00), color-stop(100%,#659506));
}
.calebogden-button li:hover span.red {
	background: -moz-linear-gradient(top, #f0807c 0%, #9c3107 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0807c), color-stop(100%,#9c3107));
}
.calebogden-button li:hover span.yellow {
	background: -moz-linear-gradient(top, #ffe300 0%, #ffb400 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffe300), color-stop(100%,#ffb400));
}

.calebogden-button li:active {
	-webkit-transform: translateY(3px);
	-moz-transform: translateY(3px);
	transform: translateY(3px);
}

.calebogden-button li:active a {
	box-shadow: 0 -1px 0 0 rgba(255,255,255,0.2) inset, 0 2px 0 0 #cecfe0;
	-moz-box-shadow: 0 -1px 0 0 rgba(255,255,255,0.2) inset, 0 2px 0 0 #cecfe0;
	-webkit-box-shadow: 0 -1px 0 0 rgba(255,255,255,0.2) inset, 0 2px 0 0 #cecfe0;
}
.calebogden-button li:active span {
	box-shadow: 0 -1px 0 0 rgba(255,255,255,0.2) inset, 0 2px 0 0 #447700;
	-moz-box-shadow: 0 -1px 0 0 rgba(255,255,255,0.2) inset, 0 2px 0 0 #447700;
	-webkit-box-shadow: 0 -1px 0 0 rgba(255,255,255,0.2) inset, 0 2px 0 0 #447700;
}
.calebogden-button li:active {
	box-shadow: 1px 3px 2px 0 rgba(0,0,0,0.3);
	-moz-box-shadow: 1px 3px 2px 0 rgba(0,0,0,0.3);
	-webkit-box-shadow: 1px 3px 2px 0 rgba(0,0,0,0.3);
}
.calebogden-button li:active span.red {
	box-shadow: 0 -1px 0 0 rgba(255,255,255,0.2) inset, 0 2px 0 0 #722300;
	-moz-box-shadow: 0 -1px 0 0 rgba(255,255,255,0.2) inset, 0 2px 0 0 #722300;
	-webkit-box-shadow: 0 -1px 0 0 rgba(255,255,255,0.2) inset, 0 2px 0 0 #722300;
}
.calebogden-button li:active span.yellow {
	-moz-box-shadow: 0 -1px 0 0 rgba(255,255,255,0.2) inset, 0 2px 0 0 #c79700;
	-webkit-box-shadow: 0 -1px 0 0 rgba(255,255,255,0.2) inset, 0 2px 0 0 #c79700;
	box-shadow: 0 -1px 0 0 rgba(255,255,255,0.2) inset, 0 2px 0 0 #c79700;
}
.calebogden-button li:active span.blue {
	-moz-box-shadow: 0 -1px 0 0 rgba(255,255,255,0.2) inset, 0 2px 0 0 #3F51B5;
	-webkit-box-shadow: 0 -1px 0 0 rgba(255,255,255,0.2) inset, 0 2px 0 0 #3F51B5;
	box-shadow: 0 -1px 0 0 rgba(255,255,255,0.2) inset, 0 2px 0 0 #3F51B5;
}

/* ------------------------------------------------------------------ */
/* on/off switch button generated by https://proto.io/freebies/onoff/ */

.onoffswitch {
	position: relative; width: 159px;
	-webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}

.onoffswitch-checkbox {
	display: none;
}

.onoffswitch-label {
	display: block; 
	overflow: hidden; 
	cursor: pointer;
	border-radius: 20px;
}

.onoffswitch-inner {
	display: block; 
	width: 200%; 
	margin-left: -100%;
	transition: margin 0.8s ease-in 0s;
	-webkit-transition:margin 0.8s ease-in 0s;
	-moz-transition: margin 0.8s ease-in 0s;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
	display: block; 
	float: left; 
	width: 50%; 
	height: 30px; 
	padding: 0; 
	line-height: 30px;
	font-size: 12px; 
	color: white; 
	font-weight: bold;
	box-sizing: border-box;
}

.onoffswitch-inner:before {
	padding-left: 10px; 
}

.onoffswitch-inner:after {
	padding-right: 10px;
 	text-align: right;
}

.onoffswitch-switch {
	display: block;
    width: 18px;
    margin: 6px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 125px;
    border-radius: 20px;
    transition: all 0.8s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
	margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
	right: 0px; 
}      

/* ------------------------------------- */
/* rounded corner button with CSS icon   */

.rounded-corner-button {
	height: 30px;
	margin-top: 6px;	
	display: inline-block;
	font-weight: bold;
	text-decoration: none;	
	cursor: pointer;	
}
	
.rounded-corner-button:active {
	margin-top: 5px;
}

.rounded-corner-button-icon {
    margin-top: -24px;
    height: 14px;
    width: 14px;
    position: relative;
}

/* ------------------------------- */
/* PaginatorWidget                 */

.paginator-widget-button{
	padding: 5px;
    border-radius: 3px;
    height: 22px;
    font-size: 1.5em;
    cursor: pointer;
    color: white;
    display: inline-block;
    background: #467FC9;
}
.paginator-widget-button-first{
	padding-left: 8px;
    padding-right: 8px;
}
.paginator-widget-button-last{
	padding-left: 8px;
    padding-right: 8px;
}
.paginator-widget-button-prev{
	 
}
.paginator-widget-button-next{
	 
}
.paginator-widget-button-selected{
	 cursor:default;
	 color: black;
     background: #79bbff;    
}
.paginator-widget-button:hover{
     color: black;
     background: #79bbff;    
}
.paginator-widget-button-disabled{
    box-shadow: none;
	cursor:default;
	color:gray;
	background: #A6A5A5; 
}
.paginator-widget-button-disabled:hover{  
	color:gray;	
	background: #A6A5A5; 
}
.paginator-widget-results-label{
	font-size: 1.3em;
	margin: 5px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* -------------------------------- */
/* term frequency widget            */
[widget='tf'] div.jtable-main-container table.jtable tbody > tr > td {
    vertical-align: middle;
    padding: 0px;
    border: none;
    padding-left: 5px;
}

[widget='tf'] div.jtable-main-container table.jtable tbody > tr:hover {
   /* background: #ffe45c url("images/ui-bg_highlight-soft_75_ffe45c_1x100.png") 50% top repeat-x; */
   text-decoration: underline;
   cursor:pointer;
}

[widget='tf'] div.jtable-main-container table.jtable tbody > tr {
    height: 20px;
    font-size: 90%;
    cursor:pointer;
}

[widget='tf'] div.jtable-main-container div.jtable-title {
    line-height: 25px;
}

[widget='tf'] div.jtable-main-container div.jtable-title-text{
	font-size: 85%
}

[widget='tf'] table[class='jtable ui-widget-content'] > tbody > tr > td:nth-child(4){
	width: 30px;
}

[widget='tf'] table[class='jtable ui-widget-content'] > tbody > tr, .ui-state-highlight{
	border: none;
}

[widget='tf'] tr.jtable-data-row.jtable-row-selected.ui-state-highlight{
	border: none;
}
[widget='tf'] tr.jtable-data-row.jtable-row-selected.ui-state-highlight.jtable-row-even{
	border: none;
}

[widget='tf'] td[class="jtable-selecting-column"] > input[type="checkbox"] { 
   cursor: pointer;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   outline: 0
}
[widget='tf'] td[class="jtable-selecting-column"] >  input[type="checkbox"]:before  {
   font: normal normal normal 14px/1 FontAwesome;				 
   font-size: 14px;				 
   content: "\f1db";
 }

[widget='tf'] td[class="jtable-selecting-column"] >  input[type="checkbox"]:checked:before {
    content: "\f058";	  
}

/* -------------------------------------- */
/* NodeMapWidget and ResultsMapWidget div */
.map-widget-div {           	
	background: #cecfe0;
	padding: 1px;
	border-radius: 2px;
}

.ol-fullscreen-map{
	position: relative;
	width: 100%;
	height: 100%;
}

.results-map-widget-no-results-div{
	padding: 10px;
    width: 120px;
    height: 30px;
    border-radius: 5px;
    background: rgba(247, 247, 247, 0.54);
    box-shadow: 4px 4px 5px 0 rgba(0,0,0,0.3);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    margin-bottom: 20px;
}
.layers-control-button{
	margin-right: 47px;
	margin-top: 5px;
	height: 28px;
	width: 28px;
	background: white;
	border-radius: 3px;
	background-image:url(https://api.geodab.eu/docs/assets/img/layers.png);
	background-repeat: no-repeat;
}
.layers-control-button-pressed{
	background: gray;
	background-image:url(https://api.geodab.eu/docs/assets/img/layers.png);
}
.layers-control-button:hover{
	cursor: pointer;
}
.layers-control-table{
    width: 150px;
    cursor: default;
}
.layers-control-table-div{
	resize: vertical;
	margin-top: -28px;
	background: white;
	border: 1px solid white;
	border-radius: 3px;
	overflow: auto;
	font-size: 80%;
	padding: 3px;
}
.layers-control-check{
	margin-top: -2px;
    margin-right: -3px;
    margin-left: 0px;
}

/* -------------------------------------- */
/* ConstraintsWidget                      */
.cnst-widget-label{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 90%;
	vertical-align: middle;
}
.cnst-widget-table{
	margin-left: 5px; 
 	border-spacing: 0px 2px;
}
.cnst-widget-clear-button{
	 margin-top: 3px;
	 margin-left: -24px;
	 color: #cecfe0;
     cursor: pointer;
     font-size: 15px!important;  
     text-align: center;
}
.cnst-widget-clear-button:hover{
	 color: red;
}
.cnst-widget-input-img {
    position: relative;
    bottom: 19px;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
}
.cnst-widget-where-img {
    background-image:url(https://api.geodab.eu/docs/assets/img/map.png);
}

.cnst-widget-where-input-control-div{
	margin-top : 55px !important;
}

.cnst-widget-where-input-control{
	margin-left : 10px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background: white;
    border: 1px solid gray;
    width: 195px;
}
.cnst-widget-where-input-table-caption{	
	background: white;
    padding-top: 7px;
    font-weight: bold;
    text-align: left;
    padding-left: 5px;
    font-size: 12px;
    color:#25418f;
}
.cnst-widget-where-input-table-ol-caption{	
	background: rgb(221, 221, 221);
    padding-top: 7px;
    padding-bottom: 8px;
    text-align: left;
    padding-left: 5px;
    font-size: 12px;
    color: black; 
    margin-left: 12px;
    display:block;
    width: 190px;
}

.cnst-widget-where-wms-selector-div {
    display: block;
    margin-top: -280px;
    margin-left: 210px;
    background: white;
    border: 1px solid gray;
    width: 390px;
    height: 272px;
    padding-top: 6px;
    padding-left: 5px;
    padding-right: 5px;
   
}

.cnst-widget-what-opt-dialog {
	
	border: 1px solid black;
}

#layerSelectorTable td, th {

  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 4px;

  border-bottom: 1px solid #dddddd;  
}

#layerSelectorTable td:hover{
	box-shadow: 0px 0px 6px 4px rgba(0,0,0,0.3);
	cursor: pointer;
}

.layers-caption{	
	background: white;
    padding-top: 3px;
    font-weight: bold;
    text-align: left;
    padding-left: 5px;
    font-size: 12px;
    color:#25418f;
    margin-bottom: 10px;
}
.cnst-widget-where-input-control-button{
	font-size: 1.5em;
    display: block;
    width: 17px;
    height: 32px;
    margin-left: 151px;
    margin-top: -352px;
    background: rgba(255, 255, 255, 0.882353);
    position: relative;
    color: #868383;
    padding-top: 16px;
    padding-left: 5px;
    cursor:pointer;
}
.cnst-widget-where-input-control-button-open{
    margin-left: 157px;
    margin-top: -318px;
}
.cnst-widget-where-input-control-button-open-no-dialog{
    margin-left: 157px;
    margin-top: -265px;
}
.cnst-widget-where-input-control-button-closed{
    margin-top: 18px;
}
.cnst-widget-input{ 
	font-size: 12px!important; 
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
	 
    padding: 5px;
    border: none;
}

.cnst-widget-select-input{
	
	
}

.cnst-widget-input:hover{  
/*   	box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.3); */
 }
.cnst-widget-input[disabled]:hover{  
  	box-shadow: none;
  	cursor:default!important;
}
  
.cnst-widget-button-img {
	vertical-align: sub;
    display: inline-block;
    height: 16px;
    cursor: pointer;
    width: 16px;
    margin-left: 5px;
    background-repeat: no-repeat;
}
.cnst-widget-what-opt-button{
	 margin-left: -33px;
	 margin-top: 4px;
	 cursor: pointer;
	 color:lightgray;
	 font-size: 20px!important
}
.cnst-widget-what-opt-button:hover{
	color:black;
}
.cnst-widget-what-opt-div{
	 font-size: 12px;
 /*     background: white; */
/*     border: 1px solid rgba(128, 128, 128, 0.36); */
 }
.cnst-widget-edit-img{
    background-image: url(https://api.geodab.eu/docs/assets/img/edit.png);
}
.cnst-widget-taxon-src-img{
	width:24px; 
	height:23px;
	vertical-align: bottom;
    background-image: url(https://api.geodab.eu/docs/assets/img/search.png);
}
.cnst-widget-taxon-src-img:active{
    padding-top: 1px;
}
.cnst-widget-taxon-src-img-disabled{
   cursor: wait;
   background-image: url(https://api.geodab.eu/docs/assets/img/search-disabled.png);
}
.cnst-widget-taxon-src-img-disabled:active{
   padding-top: 0px;
}
.cnst-widget-taxon-resp-table-tr:hover {
    background-color: #2c3e50;
    color: #FFF;
}
.cnst-widget-taxon-resp-sc-name-td{
	font-size:80%;
	font-style: italic;
}
.cnst-widget-taxon-resp-table-td-selected{
    background-color: #2c3e50;
    color: #FFF;
}
.cnst-widget-location-field{
	display:inline-block;
	width: 95px; 
	font-size: 11px;
}
#cnst-widget-taxon-table td{
	cursor:pointer;
}

.ui-datepicker{
	
	border: 1px solid black;
	background: rgba(221, 221, 221);
	margin-top: 5px;
}

/* -------------------------------------- */
/* SourcesWidget                          */
.sources-widget{
	margin-top: -10px;
	overflow: auto;
	background: #FFFFFF;
	border-radius: 5px;
	box-shadow: 4px 4px 3px 0 #999;
	padding: 5px;
}
.sources-widget-src-label{
	font-size: 11px;
	cursor:default;
	vertical-align: middle;
}
.sources-widget-all-label{
	font-size: 12px;
	font-weight: bold;
}
/* -------------------------------------- */
/*  UINode                          */    
.ui-node-section{
	display:inline-block; 
	width: 85%;
	height: 100%;
}
.ui-node-aside{
	float:right; 
	width: 15%;
	height: 100%;
}
/* -------------------------------------- */
/* Common_UINode                          */    
.common-ui-node-node-map-div{
	background-color:#ECECEC;
	display:inline-block;
	margin-left: 5px;
	width: 100%;
}
.common-ui-node-report-div{
	background-color: #DDD;
	padding-left:5px;
	padding-right:5px;
	padding-top:5px;	
	text-align:left;
 	border-color: rgba(153, 153, 153, 0.44);
	height: 100%;
}
.common-ui-node-report-div:hover{
	 box-shadow: 0px 0px 6px 4px rgba(0,0,0,0.3);
/*     -webkit-filter: brightness(110%); */
/*     filter: brightness(110%); */
}
.common-ui-node-report-div-hover{
	 box-shadow: 0px 0px 6px 4px rgba(0,0,0,0.3);
/*     -webkit-filter: brightness(110%); */
/*     filter: brightness(110%); */
}
.common-ui-node-report-title{
	font-size:120%;
	font-weight: bold;
}
.common-ui-node-report-desc{
	overflow:hidden;
    width: 100%;
    resize: vertical;
    border: none;
    background: transparent;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.common-ui-node-report-content-div{
    margin-top: 7px;
	border-radius: 5px;
	width: 99.5%;           
	display:none;
}
.common-ui-node-report-content-table{
	margin-left: -10px;
}
.common-ui-node-report-content-table-left-td{	

}
.common-ui-node-report-content-table-right-td{
	vertical-align: middle;
}
.common-ui-node-report-content-table-left{
	font-weight: bold;
	margin-left:10px;
}
.common-ui-node-report-content-table-right{

}
.common-ui-node-collection-check{
	cursor: pointer;
    margin-left: 5px;
    position: relative;
    font-size: 1.1em;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.258824);
    padding: 6px;
    vertical-align: middle;
    display: inline-block;
    color: rgb(0, 0, 0);
    background: transparent;
}
.common-ui-node-browse-collection-button{
	width: 35px;
    height: 30px;
    cursor: pointer;
    padding: 2px;
    display: inline-block;
    margin-left: 5px;
    vertical-align: middle;
}
.common-ui-node-browse-collection-icon:hover:before{
	content: "\f07c";
}
.common-ui-node-browse-collection-icon{
	position: relative;
    margin-left: -30px;
    margin-top: 4px;
    font-size: 2em;
    cursor: pointer;
    vertical-align: middle;
}
.common-ui-node-time-label{
	cursor: pointer;
    margin-left: 10px;
}
.common-ui-node-download-widget-label{
	font-size: 11px;
}
.common-ui-node-download-widget-input{
	font-size: 11px!important;
	height:15px;
}
.common-ui-node-download-widget-header{
	font-size: 12px;
	font-weight: bold;
}
/* -------------------------------------- */
/* NodeMapWidget                          */
.node-map-widget-coordinates-div{
    background: white;
    padding: 5px;
    font-size: 11px;
    width:100px;
}
/* -------------------------------------- */
/* UI_Utils overview div                  */
.overview-div{
	border: 1px solid #C0C0C0;
	display:inline-block;
	margin-right: 5px;
	cursor: pointer;
	width: 96px;
    height: 96px; 
}
.no-overview-div{
	border: 1px solid #999;
    display: inline-block;
    margin-right: 5px;
    width: 96px;
    height: 96px;
    background: #c0c0c0;
}
/* -------------------------------------- */

/* -------------------------------------- */
/* GBIF_UINode, IRISEvent_UINode          */
.classification-table{
	border: 1px solid white;
	border-radius: 3px;
	text-align: left;
	width: 620px;
	padding:3px; 
	background: white;
}
/* -------------------------------------- */
/* GBIF_UINode                            */
.gbif-ui-node-occurrence-count-div{
    width: 210px;
    background: white;
    padding: 11px;
    border-radius: 3px;
    margin-left: 5px;
    margin-right:5px;
    display:inline-block
} 

.gbif-ui-node-occurrence-kwd:hover{
	box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.3);
}
/* ------------------------------------- */
/* ResultSetLayout                       */  
.resultset-layout-table{
 	width:100%;
	border-spacing: 0 4px;
}
.resultset-layout-table-div{
	width: 100%; 
	padding-right:5px;
 }
 /* put all the ul of an extended response in a single level with x overflow */
 .resultset-layout-ul{
 	padding-bottom: 5px;
    overflow-x: auto;
    overflow-y: hidden;
    display: inline-flex;
    width:100%;
 }
/* ------------------------------------- */

/* ------------------------------------- */
/* SeriesBrowserWidget                    */ 
.series-browser-widget-table{
	border: 1px solid #c0c0c0; 
	width: 100%;
}
.series-browser-widget-history-icon{
	 font-size: 0.9em;
}
.ref-button-a{	 
	position: relative;
	display: inline-block;
    font-size: 85%;
    padding: 5px;
     margin-bottom: 5px;
	vertical-align: middle;
	cursor: pointer;
	
	border: 1px solid #999;
    box-shadow: 3px 3px 2px 0 #999;
    background: -webkit-linear-gradient(rgba(50, 51, 50, 0),#c0c0c0); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(50, 51, 50, 0),#c0c0c0); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(50, 51, 50, 0),#c0c0c0); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(50, 51, 50, 0),#c0c0c0); /* Standard syntax (must be last) */
}
	
.ref-button-a:active{
	top: 1px;
    background: -webkit-linear-gradient(#c0c0c0,rgba(50, 51, 50, 0)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#c0c0c0,rgba(50, 51, 50, 0)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#c0c0c0,rgba(50, 51, 50, 0)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#c0c0c0,rgba(50, 51, 50, 0)); /* Standard syntax (must be last) */
}	 
.ref-button-a-disabled{	 
      box-shadow: none;
    background: rgba(128, 128, 128, 0.28);
    cursor: default;
    color: #c0c0c0;
    border: none;
    	text-decoration:none;
    
}
.ref-button-a-disabled:active{	 
	top: 0px;
    background: rgba(128, 128, 128, 0.28);  
   	cursor: default;
}
   
.ref-button-a:before{
	cursor: pointer;
   	font-family: FontAwesome;
    font-size: 1.1em;
	display: inline-block;
    margin-right: 5px;
    vertical-align: baseline;
	vertical-align: middle;
   	padding-left: 5px; 
}
.ref-rwd-a:hover:before{		
	vertical-align: middle;		 
	
    -webkit-transform: translateX(-6px);
  	transform: translateX(-6px);	 
	
    transition: all 0.6s ease 0s;
	-webkit-transition: all 0.6s ease 0s;
	-moz-transition: all 0.6s ease 0s;		
}
.ref-fwd-a:hover:before{		
	vertical-align: middle;		 
	
    -webkit-transform: translateX(6px);
  	transform: translateX(6px);	 
	
    transition: all 0.6s ease 0s;
	-webkit-transition: all 0.6s ease 0s;
	-moz-transition: all 0.6s ease 0s;		
}

.ref-rwd-a{
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

.ref-fwd-a{
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}

.ref-button-a-disabled:before{
	 color: #c0c0c0;
	 cursor: default;
}
.ref-button-a-disabled:hover:before{
	 color: #c0c0c0;
 	-webkit-transform: translateX(0px);
	transform: translateX(0px);	 
	cursor: default;
}

/* .ref-fwd-a{	 */
/* 	margin-left:15px; */
/* }	 */

.ref-rwd-a:before{
	content: '\f053';
	float: left;
} 
.ref-fwd-a:before{
	content: '\f054';
	float: right;
}             
/* ------------------------- */

/* set blue background and border with white */
/* text in the selected datepicker date      */
a.ui-state-default.ui-state-active{
	color: #ffffff;
	border: 1px solid #3f51b5;
	background: #007EFF;
}

/* removes the blue border */
button:focus{ 
	outline:0;
}
input[type="checkbox"]:focus{ 
	outline:0;
}
input[type="radio"]:focus{ 
	outline:0;
}
input[type="text"]:focus{ 
	outline:0;
}

input[type="range"]:focus{ 
	outline:0;
}
a:focus{ 
	outline:0;
}
textarea:focus{ 
	outline:0;
}
.help-image{
	color: black;
	vertical-align: sub;
	font-size: 1.2em;
}
.help-image:hover{
 }
.help-image:hover:before{
	content: "\f059";
}
/* removes the close icon from the jquery dialogs header */
.no-close .ui-dialog-titlebar-close {
	display: none;
}
/* removes the jquery dialogs header */
.no-titlebar .ui-dialog-titlebar {
    display: none;
}
.cursor-pointer{
	cursor:pointer;
}  

/* css to draw a line with a div*/
.line{
    vertical-align: baseline;
	display: inline-block;
    height: 1px;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.17);
    padding: 0;
}

/* .layer-switcher.shown{
    width: 130px;
}                   

.layer-switcher .panel{
	width: 130px;	
} */

.ui-progressbar {
    position: relative;
}

.ui-progressbar-value{
	background: #607D8B
}

/* .ui-progressbar .ui-progressbar-overlay {
    background: none;
} */

/* .progress-label {
	position: absolute;
    left: 50%;
    top: 4px;
    font-weight: bold;
    color: white;
}  */



.dont-break-out {
	/* These are technically the same, but use both */
	overflow-wrap: break-word;
	word-wrap: break-word;
	-ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;
    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}