<md-list-item
        class="md-3-line"
        ng-repeat="accOption in component.supportedOptions"
        ng-if="accOption.type != 'eu.essi_lab.model.Source'"
        es-Display-Option 
		ckeyprefix="componentkeyprefix" 
		ao="accOption" 
		ck="component.key" 
		save="save({componentKey: componentKey, supported : supported})" 
		changevalueconcrete="changevalueconcrete({opt: opt, concrete: concrete})"
		
	    toggleall="toggleall({componentKey: componentKey, option : option})" 
		areallselected="areallselected({ option : option})" 
		isindeterminate="isindeterminate({ option : option})" 
		ischecked="ischecked({option : option,  label: label})" 
		toggle="toggle({componentKey: componentKey, option : option,  label: label})" 
/>

</md-list-item>

<md-list flex
         ng-repeat="subcomponent in component.configurableComponents"
         es-Olist
         componentkeyprefix="componentkeyprefix+'-->'+subcomponent.key"
         component="subcomponent"
         tstest="0"
         save="save({componentKey: componentKey, supported : supported})"
		 		
	     toggleall="toggleall({componentKey: componentKey, option : option})" 
		 areallselected="areallselected({ option : option})" 
		 isindeterminate="isindeterminate({ option : option})" 
		 ischecked="ischecked({option : option,  label: label})" 
	   	 toggle="toggle({componentKey: componentKey, option : option,  label: label})" 
 />
