apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: dab
  namespace: argocd
spec:
  project: default

  source:
    repoURL: https://github.com/ESSI-Lab/DAB.git
    targetRevision: HEAD
    path: helm

  destination:
    server: https://kubernetes.default.svc
    namespace: dab

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
