<!DOCTYPE html>
<html>
    <head>
        <!-- CSS -->
        <!--link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" /-->

        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
        
        <!-- JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
        <script src="js/init.js"></script>
        
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
            
    </head>
    <body ng-app="gsInitApp" ng-controller="gsInitAppController as initController" style="background-color:white;">

        <md-content  style="background-color:white;">
            
            <md-toolbar class="md-hue-1" md-colors="{background:'blue-500-0.1',color:'blue-grey'}">
                <div class="md-toolbar-tools">
                    
                    <h2>
                        GI-suite Initialization
                    </h2>
                    <span flex></span>
                    <md-button class="md-icon-button" aria-label="Favorite" ng-click="wps.openLink('http://www.uos-firenze.iia.cnr.it')">
                        <img class="png-icon" src="img/UOS.png" style="width: 30px; height: 20px;">
                    </md-button>

                </div>
            </md-toolbar>
            
            <br/>
            
            <div layout="row" ng-cloak class="md-inline-form" layout-padding layout-margin layout-fill layout-wrap layout-align="center">
                <div flex="50">  
                  <form name="GSInitForm" ng-submit="submitForm()" validate>
                      
                      <md-input-container class="md-block" flex-gt-sm>
                          <md-switch ng-model="initController.useExisting" ng-true-value="'true'" ng-false-value="'false'" ng-init="initController.useExisting ='false'"aria-label="Switch 1">Use Existing Configuration File</md-switch>
                      </md-input-container>
                      
                      <md-input-container class="md-block" flex-gt-sm>
                          <label>Configuration URL</label>
                          <input ng-model="initController.inputURL" ng-required="true">
                      </md-input-container>

                      <md-input-container class="md-block" flex-gt-sm>
                          <label>Root user</label>
                          <input ng-model="initController.rootuser" ng-required="initController.useExisting === 'false'" ng-disabled="initController.useExisting === 'true'">
                      </md-input-container>

                      <md-input-container class="md-block" flex-gt-sm>

                          <label>Select OAuth Provider</label>
                          <md-select ng-model="initController.selectedprovider" ng-required="initController.useExisting === 'false'" ng-disabled="initController.useExisting === 'true'">
                              <md-option ng-repeat="provider in initController.providers.providers" ng-value="provider.key">
                                  {{provider.label}}
                              </md-option>
                          </md-select>

                      </md-input-container>

                      <md-input-container class="md-block" flex-gt-sm>
                          <label>OAuth Client Secret</label>
                          <input ng-model="initController.oauthProviderSecret" ng-required="initController.useExisting === 'false'" ng-disabled="initController.useExisting === 'true'">
                      </md-input-container>

                      <md-input-container class="md-block" flex-gt-sm>
                          <label>OAuth Client Id</label>
                          <input ng-model="initController.oauthProviderId" ng-required="initController.useExisting === 'false'" ng-disabled="initController.useExisting === 'true'">
                      </md-input-container>

                      <md-button type="submit" ng-disabled="initController.success" class="md-raised md-primary">Submit</md-button>

                      
                  </form>

                  <md-button ng-click="openurl('../conf');" ng-disabled="!initController.success" class="md-raised md-primary">Configure</md-button>

                </div>
                
                
            </div>
                
                            
            
        </md-content>
    </body>
</html>
