/*
   CSS styling examples for the Vaadin app.
   Visit https://vaadin.com/docs/flow/theme/theming-overview.html and
   https://vaadin.com/themes/lumo for more information.
*/

/* Example: CSS class name to center align the content . */
.centered-content {
  margin: 0 auto;
  max-width: 250px;
}

input[type='checkbox'] { 

	cursor: pointer;
}

vaadin-button {

	cursor: pointer;
}

vaadin-tab {

  cursor: pointer;
}

vaadin-checkbox.booleanChoice[disabled]::part(checkbox) {
    background-color: white;
    border-color: #b0b0b0;
    cursor: not-allowed;
    opacity: 1;
    border: 1px solid #80808082;
}

.dab-configurator-app-layout {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  box-sizing: border-box;
}

/* ------------- */
/* Toggle button */
/* ------------- */

/* Outside */

vaadin-checkbox[theme~="switch"]::part(checkbox) {
    border-radius: 9999px;
    width: var(--lumo-size-m);
}

/* Outside not checked */

vaadin-checkbox[theme~="switch"]:not([checked])::part(checkbox) {
    border: 1px solid gray;
    background-color: white;
}

/* Outside checked / disabled */

vaadin-checkbox[theme~="switch"][checked][disabled]::part(checkbox) {
    border: 1px solid var(--lumo-contrast-30pct);
}

/* Outside not checked / disabled */

vaadin-checkbox[theme~="switch"]:not([checked])[disabled]::part(checkbox) {
    border: 1px solid var(--lumo-contrast-30pct);
}

/* Inside */

vaadin-checkbox[theme~="switch"]::part(checkbox)::after {
    content: "";
    height: calc(var(--lumo-size-m) / 3);
    background-color: var(--lumo-secondary-text-color);
    border-radius: 9999px;
    inset: 0;
    margin: calc(var(--lumo-size-m) / 12);
    opacity: 1;
    transition: transform 0.2s;
    width: calc(var(--lumo-size-m) / 3);
}

/* Inside checked */

vaadin-checkbox[theme~="switch"][checked]::part(checkbox)::after {
    background-color: var(--lumo-primary-contrast-color);
    transform: translateX(calc(var(--lumo-size-m) / 2));
}

/* Inside checked / disabled */

vaadin-checkbox[theme~="switch"][checked][disabled]::part(checkbox)::after {
    background-color: hsl(213.33deg 12.22% 43.33% / 62%);
}

/* Inside not checked / disabled */

vaadin-checkbox[theme~="switch"]:not([checked])[disabled]::part(checkbox)::after {
   background-color: hsl(213.33deg 12.22% 43.33% / 62%);
}