*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.project
org.eclipse.core.resources.prefs
org.eclipse.m2e.core.prefs

.classpath
target/
org.eclipse.jdt.core.prefs

*/target

# eclipse subprojects
**/.classpath
*/.classpath
.classpath

**/.project
*/.project
.project

**/.settings
*/.settings
.settings
.idea
.idea/
*.iml
*.iml
.idea
/.pydevproject
/testm2repo/
/repository/
/frontend/generated/*
package.json
vite.generated.ts
/frontend/index.html
